[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cheroot = "*"
psycopg2 = "*"
flash = "*"
jwt = "*"
flask = "*"
python-dotenv = "*"
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.10"
